@use "../../styles/colors";
@use "../../styles/mixins";

.counter {
    @include mixins.flex;
    background: colors.$lightGrey;
    border-radius: 5px;
    padding: 32px;

    @include mixins.medium {
        padding: 27px;
    }

    @include mixins.extra-small {
        padding: 22px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;

        @include mixins.extra-small {
            margin-bottom: 20px;
        }
    }

    &-caption {
        @include mixins.flex(column, center, flex-start);
        margin-left: 24px;

        &-value {
            margin: 0 0 5px 0;
            font-weight: 700;
            font-size: 20px;
            color: colors.$dark;
        }

        &-type {
            margin: 0;
            font-weight: 500;
            font-size: 14px;
            color: colors.$darkGrey;
        }
    }
}