@use "../../utils/mixins";

.profile {
    @include mixins.flex(column, flex-start, flex-start);
    min-height: 100vh;
    width: 100vw;

    &-main {
        @include mixins.flex(row, center, flex-start);
        width: 100%;
        flex-grow: 1;

        &-content {
            flex-grow: 1;
            padding: 70px 110px;

            &-stats {
                @include mixins.flex(row, center, flex-start);

                &-counters {
                    @include mixins.flex(column, space-between, flex-start);
                }
            }
        }
    }
}