@use "../../styles/mixins";

.stats {
    @include mixins.flex(row, space-between, center);
    width: 100%;

    &-graphs {
        width: 100%;
        margin-right: 50px;

        &-row {
            @include mixins.flex(row, flex-start, center);
            margin-top: 30px;

            @include mixins.small {
                margin-top: 50px;
            }

            & > *:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    &-counters {
        @include mixins.flex(column, space-between, flex-start);
    }
}