@mixin flex($flex-direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin extra-small {
    @media screen and (max-width: 1200px){
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 1300px){
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 1400px){
        @content;
    }
}