@use "../../utils/mixins";

.home {
    @include mixins.flex(column, flex-start, flex-start);
    min-height: 100vh;
    width: 100vw;

    &-main {
        @include mixins.flex(row, center, flex-start);
        width: 100%;
        flex-grow: 1;

        &-content {
            @include mixins.flex(row, space-between, flex-start);
            flex-grow: 1;
            padding: 70px 110px;
        }
    }
}