@use "./../../utils/colors";
@use "./../../utils/mixins";

.header {
    @include mixins.flex(row, space-between, center);
    position: fixed;
    background-color: colors.$dark;
    padding: 20px 30px;
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;

    &-link {
        color: white;
        font-weight: 500;
        font-size: 24px;
        text-decoration: none;

        &:last-child {
            margin-right: 47px;
        }
    }
}