@use "../../styles/colors";

.greeting {
    &-heading {
        font-size: 48px;
        font-weight: 500;
        margin: 20px 0px;

        &-highlight {
            color: colors.$red;
        }
    }

    &-subheading {
        font-size: 18px;
    }
}