@use "../../styles/mixins";

.template {
    @include mixins.flex(column, flex-start, flex-start);
    min-height: 100vh;
    width: 100vw;

    &-content {
        margin-top: 116px;
        padding: 70px 110px 70px 297px;
        width: 100%;

        &--row {
            @include mixins.flex(row, space-between, flex-start);
        }
    
        &--column {
            @include mixins.flex(column, space-between, flex-start);
        }
    }
}