@use "../../styles/mixins";

.template {
    @include mixins.flex(column, flex-start, flex-start);
    min-height: 100vh;
    max-width: 100vw;

    &-content {
        padding: 50px 90px 50px 206px;
        width: 100%;

        @include mixins.extra-small {
            padding: 50px 70px 50px 186px;
        }

        &--row {
            @include mixins.flex(row, space-between, flex-start);
        }
    
        &--column {
            @include mixins.flex(column, space-between, flex-start);
        }
    }
}