@use "../../../styles/colors";
@use "../../../styles/mixins";

.calorieLegend {
    @include mixins.flex(row, space-between, center);
    margin-bottom: 30px;

    &-title {
        font-weight: 500;
        font-size: 15px;
        margin: 0;
    }

    &-list {
        @include mixins.flex(row, flex-end, center);
        list-style-type: none;
        margin: 0;

        &-item {
            @include mixins.flex(row, center, center);
            color: colors.$darkGrey;
            font-weight: 500;
            font-size: 14px;

            &:last-child {
                margin-left: 32px;
            }

            &-bullet {
                margin-right: 10px;
            }
        }
    }
}